.modal-bodys{
    display: flex;
    justify-content: center;
    align-items: center;

  
}
.modal-a{
    display: block;
    background-image: url(/scourse/img/back-ground-login.jfif);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

